<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alivelife">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-feature android:name="android.hardware.sensor.proximity"
        android:required="true">
    </uses-feature>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AliveLife">
        <activity android:name=".SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Protectees"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Protectors"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Settings"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ProtectorView"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Help"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".PopWindowLogOut"
            android:theme="@style/Theme.AliveLife.CustomTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PopWindowDeleteAccount"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AliveLife.CustomTheme"/>
        <activity
            android:name=".SensorSettings"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PopWindowAddProtectee"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AliveLife.CustomTheme"/>
        <activity
            android:name=".PopWindowAddProtector"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AliveLife.CustomTheme"/>

        <service android:name=".YourService"/>

        <activity android:name=".UserView"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Protectees"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Protectors"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Settings"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Profile"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ProtectorView"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".PopWindowLogOut"
            android:theme="@style/Theme.AliveLife.CustomTheme"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".PopWindowDeleteAccount"
            android:theme="@style/Theme.AliveLife.CustomTheme"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>